<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JavaScript for Experienced Developers - Getting Started</title>

    <meta name="description" content="Workshop HTML...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link href="css/normalize.css" rel="stylesheet" media="all">
    <link href="css/master.css" rel="stylesheet" media="all">
    <!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->

</head>
<body>
    <div id="site-wrapper">
        <header role="banner" class="pageheader">
        <h1>Getting Started: About AngularJS, Binding and Modules</h1>
    </header>
    <nav role="navigation" id="nav" class="navmain">
      <h2>Navigation</h2>
      <ul>
        <li><a href="#">About AngularJS, Binding and Modules</a></li>
        <li><a href="controllers.html">Angular Controllers</a></li>
        <li><a href="expressions-and-filter.html">Expressions & Filter</a></li>
        <li><a href="directives.html">Directives</a></li>
        <li><a href="routing-view-management-ui-router.html">Routing, View Management and UI-Router</a></li>
        <li><a href="factory-provider-services.html">Factory, Provider, Services</a></li>         
      </ul>
    </nav>

    <main role="main" aria-labeledby="content">
      <section>
        <header>
          <p>Whats this Chapter about</p>
          <img srcset="" src="" alt="">
        </header>
        <article>
            <h2>The Why and What of AngularJS</h2>
            <ul>
                <li>
                    <p>Front-end JavaScript framework for creating web applications </p>
                    <p>You can basically structure your Backend like you wish.</p>
                    <ul>
                        <li>Good for dynamic web sites / web apps (CRUD based)</li>
                        <li>Framework imposes a structure that is good for organization</li>
                        <li>Helps create responsive (meaning fast) websites</li>
                        <li>Easy to test - to create software that is easily maintained</li>
                    </ul>
                </li>
                <li>Open source maintained by Google</li>
                <li>MVC pattern</li>
                <li>Handles common (and often trying tasks) such as DOM manipulation, UI updating based on dta or input, registering callbacks.</li>
                <li>
                    <p>Declarative programming</p>
                    <pre>
                    <code>
                        &lt;body ng-app="spicyApp2"&gt;
                            &lt;div ng-controller="SpicyController"&gt;
                                &lt;input type="text" ng-model="customSpice"&gt;
                                &lt;button ng-click="spicy('chili')"&gt;Chili&lt;/button&gt;
                                &lt;button ng-click="spicy(customSpice)"&gt;Custom spice&lt;/button&gt;
                                &lt;p&gt;The food is{{spice}} spicy&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/body&gt;
                    </code>
                    </pre>
                    <p>The intention of the application is expressed or declared in the HTML for Angular. Instead of JQuery which is only visible in the js Script, so that you don't any idea how the site behaves.</p>
                </li>
            </ul>
        </article>
        <article>
            <h2>How AngularJS works</h2>
            <ul>
                <li>
                    <p>AngularJS will initialize when the DOM content is loaded.</p>
                    <img src="img/angular-startup.png" alt="Angular Bootstrap">
                    <p>Angular uses dependancy injection to make modules more testable and reuseable.</p>
                    <img src="img/angular-module-injector.png" alt="Angular Dependancy Injection">
                </li>
                <li>Looks for the <strong>ng-app</strong> directive - if its found, that is the root of the app</li>
                <li>Directives can be declared in a varity of ways: typically with the <strong>ng-</strong> prefix, but you can use <strong>data-ng</strong> in case you have to support older Browsers.</li>
                <li>It will laod the module associated with the directive if specified.</li>
            </ul>
        </article>
        <article>
            <h2>Hello World AngularJS application</h2>
            <pre>
                <code>
                &lt;!-- WHAT DOES IT DO? Binds everything you type in the inputbox and displays it in the h1 tag --&gt;

                &lt;!--The directive ng-app signales the starting point of the app--&gt;
                &lt;body ng-app&gt;

                    &lt;!-- Two curlies signals that you're binding an expression. --&gt;
                    &lt;h1&gt;{{search}}&lt;/h1&gt;

                    &lt;!-- Set the Name of the model --&gt;
                    &lt;input type="text" ng-model="search"&gt;

                    &lt;!-- Two ways of accessing the Model data --&gt;
                    &lt;p&gt;{{'Just to be clear here: ' + search}}&lt;/p&gt;
                    &lt;p&gt;Or this way: {{search}}&lt;/p&gt;

                    &lt;!-- The curly braces work like normal javascript areas --&gt;
                    &lt;p&gt;The result is: {{1+3}}&lt;/p&gt;

                    &lt;!-- Check if the Frameworks are correct included to the Site --&gt;
                    &lt;script type="text/javascript"&gt;
                        console.log('Give me Object, if angular is initialized: ', angular);
                        console.log('Give me Object, if jquery is initialized:' , $);
                    &lt;/script&gt;
                &lt;/body&gt;
                </code>
            </pre>
        </article>
        <article>
            <h2>What are AngularJS Modules</h2>
            <ul>
                <li>Container for the various parts of your application(controllers, services etc) the building blocks of your app.</li>
                <li>Declaritive - easy to understand</li>
                <li>Maintainable, readable, testable</li>
                <li>Define dependencies for our app</li>
                <li><a href="https://docs.angularjs.org/api/ng/type/angular.Module">Module API</a></li>
            </ul>
        </article>
        <article>
            <h2>Creating an AngularJS Module</h2>
            <ul>
                <li>A Module is comprised of configuartion and run blocks</li>
                <li>Configuration blocks(providers) - executed during configuration and registration. Only providers and constants can be passed. Is doing the setup work</li>
                <li>Run blocks - happen after the injector is created. Only instances and constants can be passed in. runs the actual code.</li>
                <li>Some convienience methods for this</li>
                <li>Run blocks is like a main methode - it kickstarts the application</li>
                <li>Modules can depend on other modules</li>
                <li>They are only loaded once.</li>
            </ul>
            <pre>
                angular.module('myModule', []).config(function(injectables){
                    //This is an example of config blocks.
                    //You can have as many of these as you want.
                    //You can only inject Providers (not instances)
                    //into config blocks
                }).run(function(injectables){
                    //This is an example of a run block
                    //You can have as many of these as you want.
                    //You can only inject Providers (not instances)
                    //into config blocks
                });
                <ul>
                    <li>Naming convention is lowerCamelCase</li>
                    <li>Organize by functionality or component type</li>
                </ul>
            </pre>
        </article>
        <article>
            <h2>Module Architecture</h2>
        </article>
      </section>
    </main>

    <aside role="complementary" id="linklisten" class="linklisten">
        <h2 class="hideme">Linklisten</h2>
        <section id="#">
            <h3>links zu Thema </h3>
            <ul>
                <li><a href="https://docs.angularjs.org/api/ng/type/angular.Module">Module API</a></li>
            </ul>
        </section>
    </aside>

    <footer role="contentinfo">
      <h2>Infos über diese Webseite</h2>
        <small>Copyright &copy; <time datetime="2016">2016</time><a href="#">Impressum</a></small>
        <address><p>NAME | Straße |  PLZ Ort  |  LAND</p></address>
    </footer>
    </div>
</body>
</html>
